In [3]:
# Import stuff
import pandas as pd
# import matplotlib as plt
filepath = "D:/Ran/activity.csv"

In [4]:
# 1
df = pd.read_csv(str(filepath))
print(round(df["steps"].sum()/df.iloc[:,1].nunique()))

9354.0

570608.0

In [67]:
# 2
df = pd.read_csv(str(filepath))
my_histogram = df['steps'].groupby(df['date']).sum().plot(kind="bar")
# my_other_histogram = df['steps'].groupby(df['date']).sum().plot.hist

In [101]:
# 3 for each date
print(df['steps'].groupby(df['date']).median())
print(df['steps'].groupby(df['date']).mean())

date
01/10/2012    NaN
01/11/2012    NaN
02/10/2012    0.0
02/11/2012    0.0
03/10/2012    0.0
             ...
29/10/2012    0.0
29/11/2012    0.0
30/10/2012    0.0
30/11/2012    NaN
31/10/2012    0.0
Name: steps, Length: 61, dtype: float64
date
01/10/2012          NaN
01/11/2012          NaN
02/10/2012     0.437500
02/11/2012    36.805556
03/10/2012    39.416667
                ...
29/10/2012    17.423611
29/11/2012    24.468750
30/10/2012    34.093750
30/11/2012          NaN
31/10/2012    53.520833
Name: steps, Length: 61, dtype: float64